<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" >

<head th:replace="~{fragments/common::head}">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>My Music DB Application</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<header th:replace="~{fragments/common::navigation}"> </header>
<main class="p-5 align-content-center bg-blur">

    Upsss... we could not find the requested resource! <br/>
    Please excuse us, we are working on it...

</main>
<footer th:replace="~{fragments/common::footer}"> </footer>
</body>
</html>
